body{
    background-image: url('./img/yz.png');   
   }
   #btn{
     border: none;
    background: none;
   margin-top: 15px;
   margin-left: 300px;
   margin-right: 100px;
   margin-bottom: 282px;
    }
    .btns{
      display: inline;
    }
    #nxt{
      margin-left: 1050px;
    }